body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #eee;
}

nav a.active{
    border-bottom: 5px solid #333;
    transition: all ease 0.5s;
}

.container{
    margin-top: 20px;
}

.home .post{
    overflow: hidden;
    padding-left: 80px;
}

.shortInfo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
}

.position-card {
    left: 22%;
    width: 56%;
}

.flex {
    display: flex;
}

.comment-form {
    position: relative;
    left: 27%;
    width: 35%;
}

.post-form {
    position: relative;
    left: 24%;
}
